.caixa {
    align-items: flex-end;
    background: #dcdcdc;
    display: flex;
    justify-content: center;
}

.destaques{
    display: grid; /* para o section se comportar como um grid*/
    grid-gap: .2rem; /* espacamento entre linhas e colunas dentro da grids*/
    grid-template-columns: 25% 25% 25% 25%; /* dividindo as colunas do grids */  
    grid-auto-rows: 33.3% 33.3% 33.3% 33.3%; /* dividindo as linhas do grids */
    height: calc(100vh - 50px); /* fazendo com que a altura da area de estaque oculpe 100%, -50px é em consideração ao cabeçalho */ 
}


.destaques__titulo {  /* configurando os titulos de cada caixa */
    background: rgb(0, 0, 0, .5);
    color: #fdfdfd;
    padding: .6rem;
    text-align: center;
    width: 100%;
}


/*padrão normal de implementar o codigo */
.destaques__principal {  
    background-image: url("../img/fortnite.jpg");
    grid-column-start: 1; /* definindo as posições que a imagem vai ocupar dentro das grids colunas */ 
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-size: cover ; 
    background-position: center; /* centralizar a imagem*/
    background-repeat: no-repeat; /* não repetir a imagem*/
}

/*padrão otimizado*/
.destaques__secundario:nth-child(2) { /* comando que decide os filhos de cada campo */
    background: url("../img/pubg.jpg") center / cover no-repeat;
    grid-column: 4 / 4;
    grid-row: 1 / 1;
}

.destaques__secundario:nth-child(3) { /* comando que decide os filhos de cada campo */
    background: url("../img/slack.png") center / cover no-repeat;
    grid-column: 4 / 4;
    grid-row: 2 / 2;
}

.destaques__secundario:nth-child(4) { /* comando que decide os filhos de cada campo */
    background: url("../img/whatsapp.png") center / cover no-repeat;
    grid-column: 4 / 4;
    grid-row: 3 / 3;
}

.destaques__secundario:nth-child(5) { /* comando que decide os filhos de cada campo */
    background: url("../img/cs-go.jpg") center / cover no-repeat;
    grid-column: 3 / 3;
    grid-row: 3 / 3;
}

.destaques__categorias {
    grid-column: 1 / 3;
    grid-row: 3 / 3;
}

.destaques__categorias___lista {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}

.destaques__categorias___item {
    align-items: center;
    background: #fdfdfd;
    border-left: 5px solid transparent;
    color: #333;
    display: flex;
    padding: 1rem;
    width: 50%;
}

.destaques__categorias___link{
    color: inherit; /* erda da classe pai */
}